@import url(https://fonts.googleapis.com/css?family=Cabin:regular,500,600,700);

:root {
    --yellow: #ffc905;
    --bg1: #22222e;
    --bg2: #292935;
    --gray:#797a80;
}

[data-title] {
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: .2em;
}

[data-title]::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0px;
    transform: translate(0, -50%);
    width: 30px;
    height: 2px;
    background-color: var(--yellow);
}

/* --- DEFAULT --- */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

html,
body {
    min-height: 100%;
    font-family: Cabin;
    font-weight: 500;
    background-color: #1e1e1e;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
}

/* ============================== */