@import url(https://fonts.googleapis.com/css?family=Cabin:regular,500,600,700);

:root {
    --yellow: #FFC905;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Cabin;
    font-weight: 700;
    background-color: #1e1e1e;
    color: white;
}

/* ============================= */

/* --- HEADER --- */

.cv {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin: 0px auto;
}
.cv__header {
}
.header {
    color: #000000;
    flex: 0 1 265px;
    display: flex;
    background-color: white;
}
.header__image {
    flex: 0 0 50%;
}
.header__image > img {
    height: 100%;
    width: 100%;
}
.header__content {
    padding: 50px 10px 10px 30px;
}
.header__section {
}
.header__section:not(:last-child) {
    margin-bottom: 30px;
}
.header__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}
.header__subtitle {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 5px;
    background-color: var(--yellow);
    border-radius: 5px;
}
.header__info {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 24px;
    position: relative;
}
.header__info::before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0px;
    transform: translate(0,-50%);
    width: 17px;
    height: 2px;
    background-color: var(--yellow)
}
.header__text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(12 / 10 * 100%);
}
.cv__content {
    flex: 0 0 50%;
}

/* --- MAIN --- */

.content {
    background-color: #22222e;
    flex: 1 1 auto;
}
.cv__footer {
}

/* --- FOOTER --- */

.footer {
    flex: 0 1 50px;
}
